.item{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.itemInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.itemInfo h2{
    max-width: 650px;
    word-break: break-word;
}

.amount{
    display: flex;
    align-items: center;
}
.amount span{
    font-size: 20px;
    padding: 10px
}

.item:last-child{
    margin-bottom: 0;
}